<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add News</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/axios.js"></script>
</head>
<h1>Add News</h1>
<form id="addUserForm">
    <label for="title">

    </label>
    <input type="text" id="title" placeholder="title">
    <input type="checkbox" id="isShow" name="isShow" checked />
    <label for="isShow">isShow</label>
    <br/>
    <label for="content">

    </label>
    <textarea id="content" placeholder="content"></textarea>
    <br/>
    <button type="submit">submit</button>
</form>
<script>
    document.getElementById('addUserForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const title = document.getElementById('title').value;
        const isShow = document.getElementById('title').value;
        const content = document.getElementById('content').value;

        axios.post('/api/add_news', {
            title: title,
            content: content,
            isShow: isShow !== "0",
        }).then(function(response) {
            alert(response.data["message"]);
            window.location.replace("/")
        }).catch(function(error) {
            alert('Failed to add');
            console.error(error);
        });
    });
</script>
</html>
