<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.news.Title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script></head>
  <p>{{.news.Content}}</p>
  <p>Author: {{.Author}}</p>
  <p> Time: {{.news.Timestamp}}</p>

<form id="addCommentForm">
    <input type="hidden" id="news_id" value="{{.news.ID}}">
    <textarea id="content" placeholder="Add a comment"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>


<h2>Comments</h2>
{{range .comments}}
    <div>
        <p>{{.Content}}</p>
        <p>Posted by: {{.Author}} at {{.Timestamp}}</p>
    </div>
{{end}}

<script>
    document.getElementById('addCommentForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const newsID = document.getElementById('news_id').value;
        const content = document.getElementById('content').value;

        axios.post('/api/add_comment', {
            nid: Number(newsID),
            content: content,
        }).then(function(response) {
            alert(response.data["message"]);
            location.reload();
        }).catch(function(error) {
            alert('Failed to add comment');
            console.error(error);
        });
    });
</script>

</html>
