<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="register-body">
<div class="login-main">
    <h1>注册</h1>
    <div class="login-form">
        <form id="addUserForm">
            <label for="username">
            </label>
            <input type="text" id="username" placeholder="用户名" class="login-username">
            <label for="password">
            </label>
            <input type="password" id="password" placeholder="密码" class="login-password">
            <p class="register-href">
                <a href="/login">已有账号</a>
            </p>
            <button type="submit" class="login-button">注册</button>
        </form>
    </div>

</div>
</body>
<script>
    document.getElementById('addUserForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        axios.post('/api/register', {
            username: username,
            password: password,
        }).then(function(response) {
            alert(response.data["message"]);
            window.location.replace("/login")
        }).catch(function(error) {
            alert('Failed to add user');
            console.error(error);
        });
    });
</script>
</html>